* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  color: var(--main-color);
}
h1 {
  font-size: 2.5rem;
}
:root {
  --main-color: rgb(97, 33, 33);
}
img {
  border-radius: 1%;
  max-height: 70%;
  width: auto;
  height: auto;
  float: right;
}
.text-color {
  color: var(--main-color);
}
.cta-button {
  background-color: var(--main-color);
  font-size: 1.8rem;
}
input[placeholder] {
  font-size: 1.8rem;
}
.nav-bg-scroll {
  background-color: var(--main-color);
  color: white;
}

/* Hero section styling*/

.hero-section {
  background-image: url("/public/herosection-photo.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

/*Accordion styling*/

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
}
.accordion-item {
  cursor: pointer;
}
.accordion-image {
  max-width: 2 0%;
}
.open {
  border-top: 4px solid var(--main-color);
}

/*@media screen and (max-width: 768px) {
  .column {
    width: 100%;
    display: block;
  }
}*/
/* Our team cards styling */

.card-img-top {
  /*max-width: 100%;
  max-height: auto;*/
  object-fit: contain;
  border-radius: 1.5%;
}
.team-card {
  min-height: 10rem;
}
/*@media (max-width: 768px) {
  .team-card {
    display: flex;
    flex-direction: column;
  }
}*/
/* Scroll to top button styling*/

.scroll-to-top-arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.scroll-to-top-arrow.visible {
  opacity: 1;
}
