.hero-section {
  background-image: url("/public/herosection-photo.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 20px;
}
.text-color {
  color: rgb(97, 33, 33);
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5em;
}

p {
  font-size: 1.2em;
}

.cta-button {
  background-color: rgb(97, 33, 33);
}

.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
